// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.table-div{
    height: 400px;
    overflow:auto !important;
}

.table-div::-webkit-scrollbar{
    width: 7px;
}

.table-div::-webkit-scrollbar-thumb{
    background-color: #033581;
    border-radius: 10px;
}
